.home {
  .icon-block {
    padding: 0 15px;
  }	
	
  .icon-block .material-icons {
	font-size: inherit;
  }

  .green-planty{
	background-color: #6ad89d;
  }

  .green-planty-text{
	color: #6ad89d;
  }

  .brown-planty{
	background-color: #51442e;
  }

  .brown-planty-text{
	color: #51442e;
  }

  #index-banner{
	background: url(http://i.imgur.com/YXVPiZ4.jpg) no-repeat center top; z-index: -1;
  }
}
